.anime-box{
    width: 130px;
    height: 100px;
    background-color: red;
    transition:  ease width 4s, height 4s, transform 3s;


}
.anime-box:hover{
    width: 300px;
    height: 200px;
    transform: rotate(180deg);
    /* transform: translate( 20px, 30px); */
    /* transform: rotateY(150deg); */
    /* transform: rotateX(150deg); */
    /* transform: rotateZ(360deg); */
    /* transform: scale3d(1.1); */

}



.main-anim{
    width: 100px;
    height: 100px;
    background-color: rgb(14, 233, 10);
    animation: ball 5s 1s infinite reverse ease;
    position: relative;
    /* transition: ease; */
}

@keyframes ball {
    /* from{
        transform: rotate(45deg);
        
    }
    to{
        transform: rotate(90deg);
    } */


    25%{
        transform: rotate(90deg);
        /* right: 200px; */
        top: 200px;

    }

    50%{
        transform: rotate(180deg);

    }
    75%{
        transform: rotate(270deg);
        left: 700px;
        top: 200px;
    }
    100%{
        transform: rotate(360deg);
        left: 700px;
        /* right: 200px; */

        /* top: 200px; */

    }
    

}