*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    height: 50px;
    background-color: rgb(88, 172, 245);
    display: flex;
}
.logo{
    float: left;
    margin: 12px;
}
.logo a{
    text-decoration: none;
    color: black;
}
.pages{
    position: absolute;
    right: 20px;
}
.pages .pages-list{
    display: flex;

}
.pages .pages-list li{
    list-style-type: none;
    margin: 12px;
}
.pages .pages-list li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.pages i{
    display: none;
}
@media screen and (max-width:768px) {
  .pages .pages-list{
    display: none;
  }
  .pages i{
    display: block;
    margin: 12px;
    font-size: 17px;
  }
  /* #dropdown-btn{
    display: block;
  } */

  .dropdown-content{
    display: none;
    position: absolute;
    right: 0px;
    top: 42px;
    font-size: 12px;
    background-color: orange;
    padding: 20px;

  }
  .dropdown-content li a{
    text-decoration: none;
    font-weight: lighter;
    color: black;
    
  }
  .dropdown-content li{
    list-style-type: none;
    line-height: 25px;

  }
  #dropdown-btn:hover .dropdown-content{
    display: block;
  }
}