@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

/* body{
    height: 1500px;
} */
/* Font Style */
.text_style{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    font-weight: bolder;
    color: rgb(128, 175, 129);
    text-decoration:underline;
    text-transform:capitalize;
}
.list-food-item{
    list-style-type:none;

}

/* Background-style */
.background-style{

    background-image: url(./image2.jpg);
   width: 350px;
   height: 250px;
   background-size: contain;
   /* background-repeat: no-repeat; */
   /* background-position: 120px; */
   background-attachment:local;
}
/* .image-set{
    width: 100px;
} */

.text-bg{
    /* background-color: red; */
    /* text-decoration: line-through; */
    text-align: center;
    text-shadow: 1px 1px rgba(31, 180, 218, 0.274);
}
#line-test{
    text-align: center;
    line-height: 34px;
}
/* .box p{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: 2px solid black;
    word-wrap:break-word;
} */
/* .text-paragraph{
 
} */


/* gogo */
.parent .child .grandchild{
    font-size: 30px;
    color: red;
}
.text-word{
    font-family: Playwrite HU;
}
.icon{
    font-size: 300px;
}

.margin-test{
    width: 200px;
    height: 200px;
    background-color: red;
    /* margin-left: 100px; */
    border: 2px dotted blue;
    border-radius: 100%;
    /* display: block; */
    /* top: 0px; */
    /* position: sticky; */
    /* position: -webkit-sticky; */
    /* bottom: 0px; */
    /* left: 0px; */
    float: left;
}
.margin-test p{
    font-size: 30px;
    color: white;
    padding-top: 70px;
}
.image-radius{
    width: 500px;
    border-radius: 100%;
    height: 500px;
    background-size: cover;
}
.flex-circle{
    display: grid;
}
.float-prop{
    width: 100px;
    height: 100px;
    background-color: aqua;
    float: right;
}
#icon{
    font-size: 100px;
}
.obule{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    /* border: 3px dashed brown; */
    border-left: 4px solid brown;
    border-radius: 100px;
}
.obule p{
    z-index: -10;
    overflow: hidden;

}
.for{
    /* width: 10px; */
    opacity:0.5;
}